{% include 'main/nav.html' %}
{%load static %}

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {% for post in posts %}
          <div class="post-preview">
            <a href="{% url 'post-detail' post.slug %}">
              <h2 class="post-title">
                {{ post.title }}
              </h2>
              <h3 class="post-subtitle">
              </h3>
            </a>
            <p class="post-meta"><img style="width: 50px; height: 50px; border-radius: 50%;" src="{{ post.author.profile.image.url }}"> Posted by
              <a href="#">{{ post.author }}</a>
              on {{ post.created }}</p>
          </div>
          <hr>
        {% endfor %}

        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div>
      </div>
    </div>
  </div>

  {% include 'main/footer.html' %}

</body>

</html>